.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bebfc2;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 0px 15px #2020203d;
    box-shadow: 0 0px 15px #2020203d;
    background: #282B30 url('https://img.icons8.com/ios-glyphs/30/ffffff/sun--v1.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
    background: #FFFFFF url('https://img.icons8.com/ios-glyphs/30/000000/do-not-disturb-2.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 28px;
}

.slider.round:before {
    border-radius: 50%;
}