@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

.theme-light {
  --color-background: #FFFFFF;
  --color-background-nav: #EFF1F4;
  --font-color: #1F2128;
  --font-color-nav: #AAAAAA;
  --line-color: #AAAAAA;

  --glass: #FFFFFF33;
  --glass-icon: #FFFFFF4C;
}

.theme-dark {
  --color-background: #282B30;
  --color-background-nav: #1F2128;
  --font-color: #FFFFFF;
  --font-color-nav: #56585D;
  --line-color: #FFFFFF;

  --glass: #FFFFFF33;
  --glass-icon: #FFFFFF4C;
}

body {
  background-color: var(--color-background);
}

input {
  margin: auto;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 1em 3em 1em 1em;
  font-size: toRem(48);
  position: center;

  color: #FFFFFF;
}

input::placeholder {
  color: #DDDDDD
}


.output {
  margin: auto;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 1em 3em 1em 1em;
  font-size: toRem(48);
  position: center;

  color: #FFFFFF;
}

.sidenav {
  position: absolute;
  display: flex;
  width: toRem(340);
  height: 100%;
  left: 0px;
  top: 0px;

  background: var(--color-background-nav);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
}

.book {
  position: absolute;
  width: toRem(100);
  height: toRem(100);
  left: toRem(395);
  top: toRem(58);
}

.main_label {
  position: absolute;
  width: toRem(1200);
  height: toRem(120);
  left: toRem(507);
  top: toRem(45);

  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(40px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
  line-height: toRem(97);
  display: flex;
  align-items: center;

  color: var(--font-color);
}

.model_label {
  position: absolute;
  margin-top: 1em;
  margin-left: 0.5em;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: toRem(50);
  display: flex;
  align-items: center;

  color: var(--font-color);
}

.source_sequence {
  position: absolute;
  left: toRem(380);
  top: toRem(200);

  font-family: 'Inria Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
  line-height: toRem(48);
  display: flex;
  align-items: center;

  color: var(--font-color);
}

.target_sequence {
  position: absolute;
  left: toRem(380);
  top: toRem(520);

  font-family: 'Inria Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
  line-height: toRem(48);
  display: flex;
  align-items: center;

  color: var(--font-color);
}

.input_area {
  position: absolute;
  width: toRem(1500);
  height: toRem(160);
  left: toRem(370);
  top: toRem(260);

  background: linear-gradient(180deg, #7F73D5 0%, #6057A2 100%);
  border-radius: toRem(20);
}

.input_area_back {
  position: absolute;
  width: toRem(1500);
  height: toRem(160);
  left: toRem(380);
  top: toRem(270);

  background: #A79EE4;
  border-radius: 20px;
  z-index: -1;
}

.output_area {
  position: absolute;
  width: toRem(1500);
  height: toRem(160);
  left: toRem(370);
  top: toRem(580);

  background: linear-gradient(180deg, #3F8CFF 0%, #326FCC 100%);
  border-radius: toRem(20);
}

.output_area_back {
  position: absolute;
  width: toRem(1500);
  height: toRem(160);
  left: toRem(380);
  top: toRem(590);

  background: #A0D7E7;
  border-radius: toRem(20);
  z-index: -1;
}

.btn-dark {
  position: absolute;
  width: toRem(400);
  height: toRem(100);
  left: toRem(1480);
  top: toRem(800);

  font-family: 'Inria Sans', sans-serif;
  background: #1b1d21;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: toRem(30);
  font-size: toRem(40);

  color: #FFFFFF;
}

.btn-dark:hover{
  background: #2f2f31;
}

.hr-line {
  position: absolute;
  width: toRem(300);
  height: toRem(12);
  left: toRem(20);
  top: 90%;

  border: none;
  color: var(--line-color);
  background-color: var(--line-color);
  border-radius: 20px;
}

.footer {
  position: absolute;
  width: toRem(300);
  height: toRem(43);
  left: toRem(20);
  top: 92%;

  font-family: 'Inria Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: toRem(20);
  line-height: toRem(24);
  display: flex;
  align-items: center;

  color: var(--font-color-nav);
}

.text-footer {
  position: absolute;
  left: toRem(130);
  top: toRem(8);
}

.btn-left {
  float: right;
}

select {
  position: absolute;
  margin-top: 8em;
  margin-left: 0.5em;

  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: var(--color-background);
  color: var(--font-color);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--color-background);
  }

  /* Remove focus outline */
  &:focus {
    outline: none;
  }
}