<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/slider.css">
    <link rel="shortcut icon" href="/static/icon/story-book-96.png" type="image/png">
    <title>Translation</title>
</head>
<body>

<div class="container">
    <form method="POST" onsubmit="submitForm()">
        <nav class="sidenav">
            <h3 class="model_label">Model</h3>
            <select name="temp_model" id="temp_model_ID" aria-label="Default select example">
                <option selected value="0">RUS→ENG | Epochs = 120</option>
                <option value="1">RUS→OSS | Epochs = 180</option>
            </select>
            <hr class="hr-line"/>
            <div class="footer">
                <label id="switch" class="switch">
                    <input type="checkbox" onchange="toggleTheme()" id="slider">
                    <span class="slider round"></span>
                </label>
                <p class="text-footer">Onigatari | &copy; Gaijin</p>
            </div>
        </nav>

        <div class="main">
            <img class="book" src="../static/icon/story-book-96.png">
            <div class="main_label">Seq2Seq Model Translation</div>
            <div class="source_sequence">Input sequence</div>

            <div class="input_area">
                <input type="text" name="input_sequence" autocomplete="off"
                       placeholder="Начните писать предложение..."
                       value="{{ input_seq }}">
            </div>
            <div class="input_area_back"></div>

            <div class="target_sequence">Output sequence</div>

            <div class="output_area">
                <label class="output">
                    {% if output_seq and output_seq.strip() %}
                        {{ output_seq }}
                    {% endif %}
                </label>
            </div>
            <div class="output_area_back"></div>

            <button class="btn btn-dark" type="submit">Translate</button>
        </div>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

<script src="/static/js/script.js"></script>
<script src="/static/js/themes.js"></script>

</body>
</html>